@page
@model AboutModel
@{
}

<html>
<head>
    <title>Hello world</title>
</head>
<body>
    <div>
        <h1>About Page</h1>
        <h3>Choose an option:</h3>
        <div>
            <ul>
                <li><a asp-page="/Index">Home</a></li>
                <li><a asp-page="/Contact">Contact</a></li>
            </ul>
        </div>
    </div>
</body>
</html>